.form-wrapper {
  margin: auto;
  width: 50%;
}

.form {
  text-align: center;
}

.form__input-wrapper {
  margin: auto;
  width: 45%;
}

.form__input-wrapper input, .form__input-wrapper textarea {
  margin: auto;
  width: 100%;
}